<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="model.username"
      name="username"
      placeholder="Username"
      [required]="true"
    />
    <label>Username</label>
  </div>

  <!-- <div class="mb-3">
    <label>Who is your favourite user?</label>
    <select class="form-select">
      @for (user of usersFromHomeComponent(); track $index) {
      <option [value]="user.userName">{{ user.userName }}</option>
      }
    </select>
  </div> -->
  <div class="mb-3 form-floating">
    <input
      type="password"
      class="form-control"
      [(ngModel)]="model.password"
      name="password"
      placeholder="password"
      [required]="true"
    />
    <label>password</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default me-2" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
<!-- @if (errors) {
<h1>sasa</h1>
<h1>{{ errors.UserName }}</h1>
<h1>{{ errors.Password }}</h1>
@for (item of errors.Password; track item) {
<h1>{{ item }}</h1>
} } -->
